<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Luštěniny - nápovědy')">
</head>
<body>
<div th:insert="fragments/organizerHeader :: header(progress)"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Nápověda</h1>
            <p class="subheading" th:text="|Tým: ${team.name}|"></p>
            <p class="subheading" th:text="|Šifra: ${cypher.name}|"></p>

            <h2>Odemknuté nápovědy</h2>

            <th:block th:if="${not #lists.isEmpty(hintsTaken)}">
                <div th:each="hintTaken : ${hintsTaken}">
                    <p class="hint-text">
                        <span th:text="|Nápověda (-${hintTaken.hint.value}b.):|"></span>
                        <span th:text="${hintTaken.hint.text}"></span>
                    </p>
                    <p th:if="${hintTaken.hint.image != null}">
                        <img class="img-fluid hint-image" alt="Obrázek nápovědy" src="" th:src="@{${hintTaken.hint.image.imageUrl}}" />
                    </p>
                    <a href="#" class="btn btn-sm btn-flat btn-remove"
                       th:onclick="return confirm('Opravdu odebrat nápovědu?')"
                       th:href="@{/game/progress/revertHint(teamId=${team.teamId}, hintId=${hintTaken.hint.hintId}, cypherId=${cypher.cypherId})}">
                        Odebrat nápovědu
                    </a>
                </div>
            </th:block>
            <th:block th:if="${#lists.isEmpty(hintsTaken)}">
                <p>Zatím jste neodemkli žádné nápovědy.</p>
            </th:block>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>Zamknuté nápovědy</h2>

            <th:block th:if="${#lists.isEmpty(hintsNotTaken)}">
                <p>Žádné další nápovědy nejsou k dispozici.</p>
            </th:block>

            <div th:each="hint : ${hintsNotTaken}">
                <button class="btn btn-default btn-flat btn-take"
                        th:onclick="'javascript:takeHintDialog(' + ${hint.hintId} + ')'">
                    <span class="hint-text" th:text="|Vzít hint (-${hint.value}b.)|"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Trigger the modal with a button -->
    <div class="modal fade" id="takeHintModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog cascading-modal modal-sm" role="document">
            <!--Content-->
            <div class="modal-content">

                <!--Header-->
                <!--Body-->
                <div class="modal-body text-center mb-1">

                    <h5 class="mt-1 mb-2">Zadej PIN:</h5>

                    <div class="md-form ml-0 mr-0">
                        <input type="password" id="enteredPin" class="form-control form-control-sm validate ml-0">
                        <label data-error="wrong" data-success="right" for="enteredPin" class="ml-0">PIN</label>
                    </div>

                    <div class="text-center mt-4">
                        <button id="takeHintBtn" class="btn btn-primary">Ověřit</button>
                    </div>
                </div>

            </div>
            <!--/.Content-->
        </div>
    </div>
</div>

<th:block th:include="fragments/externalScripts :: externalScripts" />
<script th:inline="javascript">
    /*<![CDATA[*/
    var teamId = /*[[${team.teamId}]]*/ "teamId",
        selectedHintId = null,
        cypherId = /*[[${cypher.cypherId}]]*/ "cypherId";

    function takeHintDialog(hintId) {
        selectedHintId = hintId;
        $('#takeHintModal').modal({
            keyboard: true
        });
    }

    $('#takeHintBtn').click(function () {
        var pin = document.getElementById("enteredPin").value,
            data = {
                pin: pin,
                teamId: teamId,
                hintId: selectedHintId
            };

        $.ajax({
            url: "/game/progress/takeHintOfCypher",
            type: 'post',
            data: data,
            success: function () {
                location.reload();
            },
            error: function () {
                alert("špatný PIN");
            }
        });

        $('#takeHintModal').modal('hide');
        $('.modal-body input').val('');
        selectedHintId = null;
    });
    /*]]>*/
</script>
</body>
</html>

