<!DOCTYPE html>
<html lang="cz" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Šifra - Stav</title>
</head>
<body>
<h1>Šifra <span th:text="${cypher.name}"></span> - Stav</h1>
<h2>Týmy:</h2>
<table border="1" width="50%" >
    <thead>
    <td align="center">Id</td>
    <td align="center">Jméno týmu</td>
    <td align="center">Počet členů</td>
    <td align="center">PIN</td>
    <td align="center">Akce</td>
    <td align="center">Stav</td>
    <tr th:if="${teams.empty}">
        <td colspan="5"><h3> V systému nejsou týmy</h3></td>
    </tr>
    </thead>
    <th:block th:each="team : ${teams}">
        <tr>
            <td th:text="${team.teamId}" align="center">8888</td>
            <td th:text="${team.name}">Bamboo</td>
            <td th:text="${team.numOfMembers}" align="center">8</td>
            <td th:text="${team.pin}" align="center">9876</td>
            <td align="center">
                <a href="#" th:href="@{/progress/skip/{cypherId}(cypherId=${cypher.cypherId}, teamId=${team.teamId})}">Přeskočit</a> |
                <a href="#" th:href="@{/progress/pass/{cypherId}(cypherId=${cypher.cypherId}, teamId=${team.teamId})}">Splnit</a> |
                <a href="#" th:href="@{/progress/pending/{cypherId}(cypherId=${cypher.cypherId}, teamId=${team.teamId})}">Pending</a>
            </td>
            <td th:text="${status}" align="center">PASSED></td>
        </tr>
    </th:block>
</table>
<p></p>
</body>
</html>