<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Šifra - stav')">
</head>
<body>
<div th:insert="fragments/organizerHeader :: header(progress)"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1 th:text="${cypher.name}"></h1>
            <div class="accordion" id="codewordAccordion">
                <div class="card">
                    <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Zobrazit řešení šifry
                    </div>
                    <div th:text="${cypher.codeword}" id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#codewordAccordion">
                    </div>
                </div>
                <div class="card">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <form class="col-sm-6" action="#" th:action="@{/game/progress/stage}" method="get">
            <div class="form-group">
                <input name="cypherId" th:value="*{cypher.cypherId}" hidden/>
                <label for="search">Hledat tým:</label>
                <input type="text" id="search" name="search" class="form-control" required/>
            </div>
            <button type="submit" class="btn btn-primary">Hledat</button>
        </form>
        <div class="col-sm-6" th:if="${search != '' and search != null}">
            <a href="#" th:href="@{/game/progress/stage(cypherId=${cypher.cypherId})}" class="btn btn-secondary">Zobrazit všechny týmy</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">

            <h2>Týmy</h2>
            <div th:if="${teams.empty and search == null}">
                <p>V systému nejsou týmy<p/>
            </div>
            <div th:if="${teams.empty and search != null}">
                <p>Žádný tým nenalezen<p/>
            </div>

            <div th:each="team : ${teams}" class="team">
                <th:block th:with="status=${teamsStatuses.get(team.teamId)}">
                    <div class="row">
                        <div class="col-12">
                            <p th:classappend="${#strings.toLowerCase(status)}">
                                <span th:text="${team.name}" class="name">Bamboo</span>
                                <span class="status" th:if="${teamsStatuses.get(team.teamId)}" th:text="${status}"></span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="tag">
                                <span class="label">ID:</span><span th:text="${team.teamId}">5</span>
                            </p>
                            <p class="tag">
                                <span class="label">Členů:</span><span th:text="${team.numOfMembers}">5</span>
                            </p>
                            <p class="tag">
                                <span class="label">PIN:</span><span th:text="${team.pin}">5555</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <a href="#" class="btn btn-solve flat"
                               th:teamName="${team.name}"
                               th:teamPin="${team.pin}"
                               th:onclick="|return confirm('Opravdu chcete vyřešit šifru pro tým: ' +
                                    this.getAttribute('teamName') + '?\nPin teamu je ' + this.getAttribute('teamPin'))|"
                               th:if="${teamsStatuses.get(team.teamId) != null and (teamsStatuses.get(team.teamId))?.name() == ('PENDING')}"
                               th:href="@{/game/progress/changeStatus/{cypherId}(search=${search}, cypherId=${cypher.cypherId}, teamId=${team.teamId}, newStatus='solve')}">
                                Solve</a>
                            <a href="#" class="btn btn-skip flat"
                               th:teamName="${team.name}"
                               th:teamPin="${team.pin}"
                               th:onclick="|return confirm('Opravdu chcete přeskočit šifru pro tým: ' +
                                    this.getAttribute('teamName') + '?\nPin teamu je ' + this.getAttribute('teamPin'))|"
                               th:if="${teamsStatuses.get(team.teamId) != null and (teamsStatuses.get(team.teamId))?.name() == ('PENDING')}"
                               th:href="@{/game/progress/changeStatus/{cypherId}(search=${search}, cypherId=${cypher.cypherId}, teamId=${team.teamId}, newStatus='skip')}">
                                Skip</a>
                            <a href="#" class="btn btn-start flat"
                               th:teamName="${team.name}"
                               th:teamPin="${team.pin}"
                               th:onclick="|return confirm('Opravdu chcete zahájit šifru pro tým: ' +
                                    this.getAttribute('teamName') + '?\nPin teamu je ' + this.getAttribute('teamPin'))|"
                               th:if="${teamsStatuses.get(team.teamId) != null and (teamsStatuses.get(team.teamId))?.name() == ('LOCKED')}"
                               th:href="@{/game/progress/changeStatus/{cypherId}(search=${search}, cypherId=${cypher.cypherId}, teamId=${team.teamId}, newStatus='pending')}">
                                Start</a>
                            <a href="#" class="btn btn-restart flat"
                               th:teamName="${team.name}"
                               th:teamPin="${team.pin}"
                               th:onclick="|return confirm('Opravdu chcete zahájit šifru pro tým: ' +
                                    this.getAttribute('teamName') + '?\nPin teamu je ' + this.getAttribute('teamPin'))|"
                               th:if="${teamsStatuses.get(team.teamId) != null and
                               ((teamsStatuses.get(team.teamId))?.name() == ('SOLVED') or (teamsStatuses.get(team.teamId))?.name() == ('SKIPPED'))}"
                               th:href="@{/game/progress/changeStatus/{cypherId}(search=${search}, cypherId=${cypher.cypherId}, teamId=${team.teamId}, newStatus='pending')}">
                                Restart</a>
                            <a href="#" class="btn btn-lock flat"
                               th:teamName="${team.name}"
                               th:teamPin="${team.pin}"
                               th:onclick="|return confirm('POZOR - tým by měl mít alespoň jednu aktivní šifru!!!\n\nOpravdu chcete zamknout šifru pro tým: ' +
                                    this.getAttribute('teamName') + '?\nPin teamu je ' + this.getAttribute('teamPin'))|"
                               th:if="${teamsStatuses.get(team.teamId) != null and (teamsStatuses.get(team.teamId))?.name() != ('LOCKED')}"
                               th:href="@{/game/progress/changeStatus/{cypherId}(search=${search}, cypherId=${cypher.cypherId}, teamId=${team.teamId}, newStatus='lock')}">
                                Lock</a>
                            <a href="#" class="btn btn-hints flat" role="button"
                               th:if="${!cypher.getHints().isEmpty() and teamsStatuses.get(team.teamId) != null and (teamsStatuses.get(team.teamId))?.name() == ('PENDING')}"
                               th:href="@{/game/progress/viewHints/{cypherId}(cypherId=${cypher.cypherId}, teamId=${team.teamId})}">
                                Hinty</a>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</div>
<script>
    function changeCodewordVisibility() {
        var codeword = document.getElementById("codeword");
        var codewordButton = document.getElementById("codeword-show");
        if (codeword.style.visibility === "visible") {
            codeword.style.visibility = "hidden";
            codewordButton.innerHTML = "Zobrazit řešení";
        } else {
            codeword.style.visibility = "visible";
            codewordButton.innerHTML = "Skrýt řešení";
        }
    }
</script>
<div th:insert="fragments/externalScripts :: externalScripts"></div>
</body>
</html>
