<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Týmy')">
</head>
<body>
<div th:insert="fragments/organizerHeader :: header(teamView)"></div>
<div class="container">
    <th:block th:unless="${teamsProgress.isEmpty()}">
        <div class="row">
            <div class="col-sm-12" th:unless="${allTeamsStarted}">
                <a href="#" class="btn btn-primary" th:href="@{/game/progress/startGame}">
                    Zahájit hru všem týmům!
                </a>
            </div>
            <div class="col-sm-12" th:if="${allTeamsStarted}">
                <h2> Všechny týmy již zahájily hru!</h2>
            </div>
        </div>
        <h2>Stav hry</h2>
        <div class="row">
            <div class="col-sm-12">
                <p th:if="${minMaxStages == null and allTeamsStarted}">Všechny týmy již mají dokončeno!</p>
                <p th:unless="${minMaxStages == null}" th:text="'Týmy se nacházejí na stanovištích: ' + ${minMaxStages.getMin()} + '-' + ${minMaxStages.getMax()}"></p>
            </div>
        </div>
        <div class="row" th:if="${teamsFinished gt 0 and minMaxStages != null}">
            <div class="col-sm-12">
                <p th:text="'Počet týmů, které mají doluštěno: ' + ${teamsFinished}"></p>
            </div>
        </div>
    </th:block>
    <div class="row">
        <div class="col-sm-12 col-md-6">

            <form action="#" th:action="@{/game/progress/teamsList}" method="get">
                <div class="form-group">
                    <label for="search">Hledat tým:</label>
                    <input type="text" id="search" name="search" class="form-control" required/>
                </div>
                <button type="submit" class="btn btn-primary">Hledat</button>
            </form>
            <div th:if="${search} != null">
                <a href="#" th:href="@{/game/progress/teamsList}" class="btn btn-secondary">Zobrazit všechny týmy</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1>Týmy</h1>
            <div th:if="${teamsProgress.empty and search == null}">
                <p>V systému nejsou týmy<p/>
            </div>
            <div th:if="${teamsProgress.empty and search != null}">
                <p>Žádný tým nenalezen<p/>
            </div>

            <div th:each="teamProgress : ${teamsProgress}" class="cypher organizer">
                <a th:href="@{/game/progress/teamDetail(teamId=${teamProgress.team.teamId})}">
                    <div class="row align-items-center">
                        <div th:text="${teamProgress.getTeam().getName()}" class="col"></div>
                        <div class="col text-right">
                            <div th:text="${teamProgress.getTeamProgress()}" class="team-status"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/externalScripts :: externalScripts"></div>
</body>
</html>

