<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Tým - stav')">
</head>
<body>
<div th:insert="fragments/organizerHeader :: header(teamView)"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Tým</h1>
            <p class="subheading" th:text="${team.name}"></p>

            <div th:each="cypher : ${cyphers}" class="team">
                <th:block th:with="status=${cyphersStatuses.get(cypher.cypherId)}">
                    <div class="row">
                        <div class="col-12">
                            <p th:classappend="${#strings.toLowerCase(status)}">
                                <span th:text="${cypher.name}" class="name">Bamboo</span>
                                <a th:href="@{/game/progress/stage(cypherId=${cypher.cypherId})}">
                                    <span class="status" th:if="${cyphersStatuses.get(cypher.cypherId)}" th:text="${status}"></span>
                                </a>
                            </p>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/externalScripts :: externalScripts"></div>
</body>
</html>
