<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Tým - stav')">
</head>
<body>
<div th:insert="fragments/organizerHeader :: header(teamView)"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 th:text="${team.name}"></h2>

            <div th:each="cypher : ${cyphers}" class="cypher organizer">
                <th:block th:with="status=${cyphersStatuses.get(cypher.cypherId)}">
                    <a class="row align-items-center" th:href="@{/game/progress/stage(cypherId=${cypher.cypherId})}">
                        <div th:classappend="${#strings.toLowerCase(status)}" class="col-12">
                            <span th:text="${cypher.name}" class="name">Bamboo</span>
                            <span class="status" th:if="${cyphersStatuses.get(cypher.cypherId)}" th:text="${status}"></span>
                        </div>
                    </a>
                </th:block>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/externalScripts :: externalScripts"></div>
</body>
</html>
