<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Týmy')">
</head>
<body>
<div th:insert="fragments/organizerHeader :: header(teamView)"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12" th:unless="${allTeamsStarted}">
            <a href="#" class="btn btn-primary" th:href="@{/game/progress/startGame}">
                Zahájit hru všem týmům!
            </a>
        </div>
        <div class="col-sm-12" th:if="${allTeamsStarted}">
            <p class="big-centered-text"> Všechny týmy již zahájily hru!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1>Týmy</h1>
            <div th:if="${teams.empty}">
                <p>V systému nejsou týmy<p/>
            </div>

            <div th:each="team : ${teams}" class="cypher organizer">
                <a th:href="@{/game/progress/teamDetail(teamId=${team.teamId})}">
                    <div class="row align-items-center">
                        <div th:text="${team.name}" class="col"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/externalScripts :: externalScripts"></div>
</body>
</html>

