<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Statistiky')">
</head>
<body>
<div th:insert="fragments/organizerHeader :: header(statistics)"></div>
<div class="container">
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" th:utext="#{label.organizer.statistics.cyphers.header}">Statistiky šifer</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" th:href="@{/game/statistics/cyphersBySolvedCount}" th:utext="#{label.organizer.statistics.cyphers.sortbysolved}">Dle vyluštění</a>
                    <a class="dropdown-item" href="#" th:href="@{/game/statistics/cyphersBySkippedCount}" th:utext="#{label.organizer.statistics.cyphers.sortbyskipped}">Dle přeskočení</a>
                    <a class="dropdown-item" href="#" th:href="@{/game/statistics/cyphersByCountOfHintsTaken}" th:utext="#{label.organizer.statistics.cyphers.sortbyhintstaken}">Dle použitých nápověd</a>
                    <a class="dropdown-item" href="#" th:href="@{/game/statistics/cyphersByPointsOfHintsTaken}" th:utext="#{label.organizer.statistics.cyphers.sortbyhintstakenvalue}">Dle hodnoty použitých nápověd</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" th:utext="#{label.organizer.statistics.teams.header}">Statistiky týmů</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" th:href="@{/game/statistics/teamsBySolvedCyphers}" th:utext="#{label.organizer.statistics.teams.sortbysolved}">Dle vyluštěných šifer</a>
                    <a class="dropdown-item" href="#" th:href="@{/game/statistics/teamsBySkippedCyphers}" th:utext="#{label.organizer.statistics.teams.sortbyskipped}">Dle přeskočených šifer</a>
                    <a class="dropdown-item" href="#" th:href="@{/game/statistics/teamsByCountOfHintsTaken}" th:utext="#{label.organizer.statistics.teams.sortbyhintstaken}">Dle použitých nápověd</a>
                    <a class="dropdown-item" href="#" th:href="@{/game/statistics/teamsByPointsOfHintsTaken}" th:utext="#{label.organizer.statistics.teams.sortbyhintstakenvalue}">Dle hodnoty použitých nápověd</a>
                </div>
            </li>
        </ul>
    </div>
    <div th:if="${header} != null" class="row">
        <div class="col-sm-12">
            <h2 th:if="${header == 'team'}" th:utext="#{label.organizer.statistics.teamstatsheader}">Statistiky týmů</h2>
            <h2 th:if="${header == 'cypher'}" th:utext="#{label.organizer.statistics.cypherstatsheader}">Statistiky šifer</h2>
            <th:block th:switch="${sortByLabel}">
                <p th:case="hintsTaken" th:utext="#{label.organizer.statistics.sortedbyhintstaken}"></p>
                <p th:case="hintsTakenValue" th:utext="#{label.organizer.statistics.sortedbyhintstakenvalue}"></p>
                <p th:case="skippedCount" th:utext="#{label.organizer.statistics.sortedbyskippedcount}"></p>
                <p th:case="solvedCount" th:utext="#{label.organizer.statistics.sortedbysolvedcount}"></p>
            </th:block>
        </div>
    </div>
    <div th:each="element : ${statisticsMap}" class="row">
        <div class="col-sm-12">
            <p>
                <span th:text="${element.key.name}" class="name"></span>
                <span th:text="${statisticsMap.get(element.key)}"></span>
            </p>
        </div>
    </div>
</div>
<div th:insert="fragments/externalScripts :: externalScripts"></div>
</body>
</html>