<!DOCTYPE html>
<html lang="cz"
      xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>FinalPlace</title>
</head>
<body>
<div th:insert="fragments/header :: header(finalplace)"></div>
<div class="container">
    <h2>Místo ukončení</h2>
    <form action="#" th:action="@{/admin/finalplace/update}" th:object="${finalplace}" method="post">
        <div class="table-responsive">
            <table class="table" style="font-size: 18px">
                <tr>
                    <td>Id</td>
                    <td><input th:field="*{finalPlaceId}"/></td>
                </tr>
                <tr>
                    <td>Jméno</td>
                    <td><input th:field="*{title}"/></td>
                </tr>

                <tr>
                    <td>Souřadnice</td>
                    <td><input type="text" th:field="*{location}"/></td>
                </tr>
                <tr>
                    <td>Čas</td>
                    <td><input type="datetime-local" th:field="*{openingTime}"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Uložit"/>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
</body>
</html>

