<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Image')">
</head>
<body>
    <div th:insert="fragments/header :: header(cypher)"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Submitted File (Single)</h2>
                <table>
                    <tr>
                        <td>OriginalFileName :</td>
                        <td th:text="${file.originalFilename}"></td>
                    </tr>
                    <tr>
                        <td>Type :</td>
                        <td th:text="${file.contentType}"></td>
                    </tr>
                </table>
                <br />
            </div>
        </div>
    </div>
</body>
</html>

