<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Nahrávání obrázku')">
</head>
<body>
    <div th:insert="fragments/header :: header(cypher)"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2><span th:text="${heading}">Nadpis</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <form action="#" th:action="@{'/admin/hint/update/' + ${hintId}}" enctype="multipart/form-data" method="post">
                    <table>
                        <tr>
                            <td><label path="file">Select a file to upload</label></td>
                            <td><input type="file" name="file" accept="image/*"  /></td>
                        </tr>
                        <tr>
                            <td><input type="submit" value="Submit" /></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

