<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head('Místo vyhlášení')">
</head>
<body>
<div th:insert="client/fragments/header :: header(cypher, '/cypher')"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Vyhlášení výsledků</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger red" role="alert">
                <th:block th:text="${'Vyhlášení proběhne dnes v ' + finalplace.getResultsTime().toLocalTime()}">
                    
                </th:block>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2>Adresa</h2>
            <p th:text="${'GPS: ' + finalplace.location.y + ' ' + finalplace.location.x}"></p>
            <p th:text="${finalplace.description}"></p>
            <div id="map" style='width: 100%; height: 150px;'></div>
            <a th:href="@{https://www.google.com/maps/search/?api=1&query={lat},{lng}(lat=${finalplace.location.y}, lng=${finalplace.location.x})}"
               class="btn btn-secondary" role="button">Zobrazit na mapě</a>
        </div>
    </div>
    <div th:insert="fragments/externalScripts :: externalScripts"></div>
    <script>
        var lat = [[${finalplace.location.getY()}]];
        var lng = [[${finalplace.location.getX()}]];
    </script>
    <script th:src="@{/js/client-map.js}">
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDseyIGXP_QJWmaCbjVJxxVUQ5vxX44Anw&callback=initMap">
    </script>
</div>
</body>
</html>