<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Místo vyhlášení</title>
</head>
<body>
<div th:insert="client/fragments/header :: header(cypher, '/cypher')"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Vyhlášení výsledků</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger red" role="alert">
                <th:block th:text="${'Vyhlášení proběhne dnes v ' + finalplace.getOpeningTimeOnly()}">
                    
                </th:block>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2>Adresa</h2>
            <p th:text="${'GPS: ' + finalplace.location.y + ' ' + finalplace.location.x}"></p>
            <p th:text="${finalplace.description}"></p>
            <div id="map" style='width: 100%; height: 150px;'></div>
            <a th:href="@{https://www.google.com/maps/search/?api=1&query={lat},{lng}(lat=${finalplace.location.y}, lng=${finalplace.location.x})}"
               class="btn btn-secondary" role="button">Zobrazit na mapě</a>
        </div>
    </div>
    <script>
        var lat = [[${finalplace.location.getY()}]];
        var lng = [[${finalplace.location.getX()}]];
    </script>
    <script th:src="@{/js/client-map.js}">
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDseyIGXP_QJWmaCbjVJxxVUQ5vxX44Anw&callback=initMap">
    </script>
</div>
</body>
</html>