<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Skóre týmů')">
</head>
<body>
<div th:insert="fragments/organizerHeader :: header(score)"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <a href="#" class="btn btn-primary" th:href="@{/game/score/export}" target="_blank" th:utext="#{label.pdfexport}">
                Export do PDF
            </a>
        </div>
        <div class="col-sm-12">
            <h1 th:utext="#{label.organizer.teamrankingbyscore}">Pořadí týmů podle skóre</h1>

            <div class="row score-header">
                <div class="col order">
                    <p th:utext="#{label.rank}">Pořadí</p>
                </div>
                <div class="col">
                    <p th:utext="#{label.name}">Název</p>
                </div>
                <div class="col points">
                    <p th:utext="#{label.points}">Body</p>
                </div>
            </div>

            <div th:if="${teamsWithScores.empty}">
                <p th:utext="#{label.noteamsinsystem}">V systému nejsou týmy</p>
            </div>
            <div th:each="teamWithScore : ${teamsWithScores}" class="score">
                <a th:href="@{/game/score/team(teamId=${teamWithScore.team.teamId})}">
                    <div class="row align-items-center">
                        <div class="col order" th:text="${teamWithScore.rank}"></div>
                        <div class="col" th:text="${teamWithScore.team.name}"></div>
                        <th:block th:if="${teamWithScore.team.teamId != null}">
                            <div class="col points" th:text="${teamWithScore.score}">
                            </div>
                        </th:block>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/externalScripts :: externalScripts"></div>
</body>
</html>

