<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Skóre týmů')">
</head>
<body>
<div th:insert="fragments/organizerHeader :: header(score)"></div>
<div class="container">
    <p class="big-centered-text">Pořadí týmů podle skóre</p>
    <div class="row score-header">
        <div class="col">
            <p>Id týmu</p>
        </div>
        <div class="col">
            <p>Jméno týmu</p>
        </div>
        <div class="col">
            <p>Skóre</p>
        </div>
    </div>

    <div th:if="${teamsWithScores.empty}">
        <p>V systému nejsou týmy</p>
    </div>
    <div th:each="teamWithScore : ${teamsWithScores}" class="score">
        <a th:href="@{/game/score/team(teamId=${teamWithScore.team.teamId})}">
            <div class="row align-items-center">
                <div class="col" th:text="${teamWithScore.team.teamId}">
                </div>

                <div class="col" th:text="${teamWithScore.team.name}">
                </div>

                <th:block th:if="${teamWithScore.team.teamId != null}">
                    <div class="col" th:text="${teamWithScore.score}">
                    </div>
                </th:block>
            </div>
        </a>
    </div>
</div>

<div th:insert="fragments/externalScripts :: externalScripts"></div>
</body>
</html>

