<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Skóre týmů')">
</head>
<body>
<div th:insert="fragments/organizerHeader :: header(score)"></div>
<div class="container">
    <h2>Pořadí týmů podle skóre</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-centered">Id týmu</th>
                <th class="col-centered">Jméno týmu</th>
                <th class="col-centered">Skóre</th>
                <th class="col-centered">Akce</th>
            </tr>
            <tr th:if="${teamsWithScores.empty}">
                <td colspan="4"><p> V systému nejsou týmy</p></td>
            </tr>
            </thead>
            <th:block th:each="teamWithScore : ${teamsWithScores}">
                <tr>
                    <td th:text="${teamWithScore.team.teamId}" class="col-centered">1</td>
                    <td th:text="${teamWithScore.team.name}" class="col-centered">Borci</td>
                    <td class="col-centered">

                        <span th:if="${teamWithScore.team.teamId != null}"
                              th:text="${teamWithScore.score}">
                        </span>

                    </td>
                    <td class="col-centered">
                        <a href="#"
                           class="btn btn-default btn-lg" th:href="@{/game/score/team(teamId=${teamWithScore.team.teamId})}">
                            Detail skóre
                        </a>
                    </td>
                </tr>
            </th:block>
        </table>
    </div>
</div>
</body>
</html>

