<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Tým - detail skóre')">
</head>
<body>
<div th:insert="fragments/organizerHeader :: header(score)"></div>
<div class="container">
    <h1>Tým <span th:text="${team.name}"></span> - Stav</h1>
    <h2>Šifry:</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Název šifry</th>
                    <th>Body za šifru</th>
                    <th>Celkem použitých nápověd</th>
                    <th>Id použitých nápověd</th>
                    <th>Záporné body za nápovědy</th>
                    <th>Celkové skóre</th>
                </tr>
            </thead>
            <th:block th:each="team : ${teamWithDetailScores}">
                <tr>
                    <td th:text="${team.cypher.cypherId}">8888</td>
                    <td th:text="${team.cypher.name}">Bamboo</td>
                    <td th:text="${team.statusScore}">8</td>
                    <td th:text="${team.hintsTaken.size()}">9876</td>
                    <td th:text="${team.toString()}">9876</td>
                    <td th:text="${team.hintTakenScore}">9877</td>
                    <td th:text="${team.score}">9877</td>
                </tr>
            </th:block>
        </table>
    </div>
    <br>
    <a href="#" th:href="@{/game/score}"><b>Zpět na seznam týmů</b></a>
</div>

<div th:insert="fragments/externalScripts :: externalScripts"></div>
</body>
</html>
