<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="header(activeTab, parentScreen)">
    <nav class="navbar navbar-default navbar-red">
        <button th:unless="${parentScreen} == ''" class="btn back" type="button">
            <a th:href="${parentScreen}"><i class="fas fa-chevron-left text-white"></i></a>
        </button>

        <div class="navbar-content">
            <p class="team-name" th:text="${team.name}"></p>
            <p th:unless="${score} == null" th:text="|Aktuální skóre: ${score} b.|"></p>
        </div>

        <button class="btn toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
                aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text">
                <i class="fa fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:classappend="${activeTab == 'cypher'}? 'active' : null">
                    <a class="nav-link" href="/cypher">Šifry </a>
                </li>
                <li class="nav-item" th:classappend="${activeTab == 'card'}? 'active' : null">
                    <a class="nav-link" href="/card">Kartička</a>
                </li>
                <li class="nav-item" th:classappend="${activeTab == 'contact'}? 'active' : null">
                    <a class="nav-link" href="/contact">Kontakty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout" th:onclick="return confirm('Opravdu se chcete odhlásit?')">Odhlásit se</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>