<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="header(activeTab, parentScreen)">
    <nav class="navbar navbar-default navbar-red">
        <a th:unless="${parentScreen} == ''"  th:href="${parentScreen}" class="btn back" role="button">
            <i class="fas fa-chevron-left text-white"></i>
        </a>

        <div class="navbar-content">
            <p class="team-name" th:text="${team.name}"></p>
            <p th:unless="${score} == null" th:text="|#{label.client.header.actualscore} ${score} #{label.client.header.pointshortcut}|"></p>
        </div>

        <button class="btn toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
                aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text">
                <i class="fa fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:classappend="${activeTab == 'cypher'}? 'active' : null">
                    <a class="nav-link" href="/cypher" th:utext="#{label.cyphers}">Šifry</a>
                </li>
                <li class="nav-item" th:classappend="${activeTab == 'card'}? 'active' : null">
                    <a class="nav-link" target="_blank" href="/img/hintcard.jpg" th:utext="#{label.client.header.tools}">Nástroje</a>
                </li>
                <li class="nav-item" th:classappend="${activeTab == 'contact'}? 'active' : null">
                    <a class="nav-link" href="/contact" th:utext="#{label.client.header.contacts}">Kontakty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout" th:attr="onclick='return confirm(\'' + #{label.logout.confirm} + '\');'" th:utext="#{label.logout.logout}">Odhlásit se</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="lang-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:utext="#{label.lang.langtitle}"></a>
                    <div class="dropdown-menu" aria-labelledby="lang-dropdown">
                        <a class="dropdown-item" th:href="@{?lang=cs}"><span class="flag-icon flag-icon-cz"> </span><span th:utext="#{label.lang.cs}">Čeština</span></a>
                        <a class="dropdown-item" th:href="@{?lang=en}"><span class="flag-icon flag-icon-gb"> </span><span th:utext="#{label.lang.en}">Angličtina</span></a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>