<!DOCTYPE html>
<html lang="cz"
      xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>CypherDetail</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
    <div class="container">
        <div class="col-sm-12">
            <h2><span th:text="${heading}">Nadpis</span></h2>
        </div>
        <div class="col-sm-6">
            <form action="#" th:action="@{/admin/cypher/save}" th:object="${cypher}" method="post">
                <div class="form-group">
                    <label for="cypherId">Id</label>
                    <input id="cypherId" class="form-control" th:field="*{cypherId}" readonly/>
                </div>
                <div class="form-group">
                    <label for="name">Jméno</label>
                    <input id="name" class="form-control" th:field="*{name}"/>
                </div>
                <div class="form-group">
                    <label for="stage">Pořadí</label>
                    <input id="stage" class="form-control" type="number" th:field="*{stage}"/>
                </div>
                <div class="form-group">
                    <label for="location">Souřadnice</label>
                    <input id="location" class="form-control" type="text" th:field="*{location}" readonly/>
                    <small id="locationHelp" class="form-text text-muted">Kliknutím do mapy nastavíte souřadnice.</small>
                </div>
                <div class="form-group">
                    <label for="codeword">Odpověď</label>
                    <input id="codeword" class="form-control" type="text" th:field="*{codeword}"/>
                </div>
                <button type="submit" class="btn btn-primary">Uložit</button>
            </form>
        </div>

        <div class="col-sm-6">
            <div id='map' style='width: 100%; height: 400px;'></div>
        </div>
    </div>

    <script>
        var map,
            activeMarker;

        function initMap() {
            var locationOfZlin = {lat: 49.22439, lng: 17.66485};

            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: locationOfZlin,
                draggableCursor:'crosshair'
            });

            map.addListener('click', function(event) {
                deleteMarker();
                addMarker(event.latLng);
                fillLocationToForm(event);
            });

            addMarkerFromForm();
        }

        function addMarker(location) {
            activeMarker = new google.maps.Marker({
                position: location,
                map: map
            });
        }

        function fillLocationToForm(event) {
            document.getElementById('location').value = event.latLng.lat() + ',' + event.latLng.lng();
        }

        function deleteMarker() {
            if (activeMarker) {
                activeMarker.setMap(null);
            }
        }

        function addMarkerFromForm() {
            var latlng = document.getElementById('location').value;
            if (latlng) {
                var toupleLatLng = latlng.split(",");
                var lat = parseFloat(toupleLatLng[0]);
                var lng = parseFloat(toupleLatLng[1]);
                var latLngObject = {lat: lat, lng: lng};
                addMarker(latLngObject);
            }
        }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDseyIGXP_QJWmaCbjVJxxVUQ5vxX44Anw&callback=initMap">
    </script>
</body>
</html>

