<!DOCTYPE html>
<html lang="cz"
      xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Cyphers</title>
</head>

<body>
<div th:insert="fragments/header :: header(cypher)"></div>
<div class="container">
    <h2>Šifry</h2>
    <div class="table-responsive">
        <table border="1" class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Jméno</th>
                <th>Poradi</th>
                <th>Souradnice</th>
                <th>Odpověď</th>
                <td align="center">Akce</td>
            </tr>
            <tr th:if="${cyphers.empty}">
                <td colspan="6"><p> V systému nejsou šifry</p></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cypher : ${cyphers}">
                <td th:text="${cypher.cypherId}" align="center">cypherId</td>
                <td th:text="${cypher.name}">Jmeno</td>
                <td th:text="${cypher.stage}" align="center">Cislo</td>
                <td th:text="${cypher.location}">X, Y</td>
                <td th:text="${cypher.codeword}">codove slovo</td>
                <td align="center">
                    <a href="#" th:href="@{/admin/hint(cypherId=${cypher.cypherId})}">Detail</a> |
                    <a href="#" th:href="@{/admin/cypher/update/{cypherId}(cypherId=${cypher.cypherId})}">Upravit</a> |
                    <a href="#" th:href="@{/admin/cypher/delete/{cypherId}(cypherId=${cypher.cypherId})}">Smazat</a>
                </td>
            </tr>

            <tr>
                <td colspan="6" align="center">
                    <a href="#" th:href="@{/admin/cypher/new}">Přidat</a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>

