<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Kontakt')">
</head>

<body>
<div th:insert="client/fragments/header :: header(contact, '')"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Kontakt</h1>
            <h2>Kontaktní osoba</h2>
            <p th:text="${contact.name}">Jmeno</p>
            <h2>Telefon</h2>
            <p th:text="${contact.phoneNumber}" align="center">Telefon</p>
            <h2>Odkazy</h2>
            <a th:href="${contact.webPages}">CN Group</a><br>
            <a th:href="${contact.fcbEvent}">Facebook</a>
        </div>
    </div>
</div>
<div th:insert="fragments/externalScripts :: externalScripts"></div>
</body>
</html>

