<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Kontakt')">
</head>

<body>
<div th:insert="client/fragments/header :: header(contact, '')"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 th:utext="#{label.contact}">Kontakt</h1>
            <h2 th:text="${contact.name}">Jmeno</h2>
            <ul class="contact">
                <li>
                    <i class="fas fa-phone"></i>
                    <a href="#" th:href="${'tel:' + contact.phoneNumber}" th:text="${contact.phoneNumber}">123456789</a>
                </li>
                <li>
                    <i class="fas fa-envelope"></i>
                    <a href="#" th:href="${'mailto:' + contact.email}" th:text="${contact.email}">email@email.com</a>
                </li>
            </ul>
            <h2 th:utext="#{label.contact.links}">Odkazy</h2>
            <a th:each="link: ${links}" th:href="${link.url}" role="button" class="btn btn-flat btn-cn" th:text="${link.title}">CN Group</a>
        </div>
    </div>
</div>
<div th:insert="fragments/externalScripts :: externalScripts"></div>
</body>
</html>

