<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Kontakt')">
</head>

<body>
<div th:insert="client/fragments/header :: header(contact, '')"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Kontakt</h1>
            <h2 th:text="${contact.name}">Jmeno</h2>
            <ul class="contact">
                <li>
                    <i class="fas fa-phone"></i>
                    <span th:text="${contact.phoneNumber}">email@email.com</span>
                </li>
                <li>
                    <i class="fas fa-envelope"></i>
                    <span th:text="${contact.email}">email@email.com</span>
                </li>
            </ul>
            <h2>Odkazy</h2>
            <a th:href="${contact.webAddress}" role="button" class="btn btn-flat btn-cn" >CN Group</a>
            <a th:href="${contact.facebookEvent}" role="button" class="btn btn-flat btn-cn">Facebook</a>
        </div>
    </div>
</div>
<div th:insert="fragments/externalScripts :: externalScripts"></div>
</body>
</html>

