<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head('Nápověda')">
</head>
<body>
    <div th:insert="client/fragments/header :: header(cypher, '/cypher/' + ${cypher.cypherId})"></div>

    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <h1>Nápověda</h1>

                <span class="text-danger" th:if="${#request.getParameter('gameEnded') == 'true'}">
                    Hra již byla ukončena.
                </span>

                <h2>Odemknuté nápovědy</h2>

                <th:block th:if="${not #lists.isEmpty(hintsTaken)}">
                    <div th:each="hintTaken : ${hintsTaken}">
                        <p class="hint-text">
                            <span th:text="|Nápověda (-${hintTaken.hint.value}b.):|"></span>
                            <span th:text="${hintTaken.hint.text}"></span>
                        </p>
                    </div>
                </th:block>
                <th:block th:if="${#lists.isEmpty(hintsTaken)}">
                    <p>Zatím jste neodemkli žádné nápovědy.</p>
                </th:block>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>Zamknuté nápovědy</h2>

                <th:block th:if="${#lists.isEmpty(hintsNotTaken)}">
                    <p>Žádné další nápovědy nejsou k dispozici.</p>
                </th:block>

                <div th:each="hint : ${hintsNotTaken}">
                    <a onclick="return confirm('Opravdu si chcete vzít tuto nápovědu?')">
                        <form th:action="@{'/cypher/takeHint/' + ${hint.hintId}}" th:object="${cypher}" method="post">
                            <input type="hidden"  th:field="*{cypherId}" />

                            <th:block th:if="${hint.value == 1}">
                                <button type="submit" class="btn btn-primary"
                                        th:text="'Získat nápovědu (-' + ${hint.value} + ' bod)'"></button>
                            </th:block>
                            <th:block th:if="${hint.value le 4 and hint.value gt 1}">
                                <button type="submit" class="btn btn-primary"
                                        th:text="'Získat nápovědu (-' + ${hint.value} + ' body)'"></button>
                            </th:block>
                            <th:block th:if="${hint.value gt 4}">
                                <button type="submit" class="btn btn-primary"
                                        th:text="'Získat nápovědu (-' + ${hint.value} + ' bodů)'"></button>
                            </th:block>
                        </form>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="fragments/externalScripts :: externalScripts"></div>
</body>
</html>