<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head('Nápověda')">
</head>
<body>
    <div th:insert="client/fragments/header :: header(cypher, '/cypher/' + ${cypher.cypherId})"></div>

    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <h1 th:utext="#{label.hint}">Nápověda</h1>

                <span class="text-danger" th:if="${#request.getParameter('gameEnded') == 'true'}" th:utext="#{label.client.hintlist.gameended}">
                    Hra již byla ukončena.
                </span>
                <span class="text-danger" th:if="${#request.getParameter('wrongStatus') == 'true'}" th:utext="#{label.client.hintlist.cyphernotactive}">
                    Šifra není aktivní.
                </span>

                <h2 th:utext="#{label.client.hintlist.unlockedhints}">Odemknuté nápovědy</h2>

                <th:block th:if="${not #lists.isEmpty(hintsTaken)}">
                    <div th:each="hintTaken : ${hintsTaken}">
                        <p class="hint-text">
                            <span th:text="|Nápověda (-${hintTaken.hint.value}b.):|"></span>
                            <span th:text="${hintTaken.hint.text}"></span>
                        </p>
                        <p th:if="${!#strings.isEmpty(hintTaken.hint.imageUrl)}">
                            <img class="hint-image img-fluid" alt="#{label.client.hintlist.hintimage}" src="" th:src="@{${hintTaken.hint.imageUrl}}" />
                        </p>
                    </div>
                </th:block>
                <th:block th:if="${#lists.isEmpty(hintsTaken)}" th:utext="#{label.client.hintlist.notakenhints}">
                    <p>Zatím jste neodemkli žádné nápovědy.</p>
                </th:block>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2 th:utext="#{label.client.hintlist.lockedhints}">Zamknuté nápovědy</h2>

                <th:block th:if="${#lists.isEmpty(hintsNotTaken)}">
                    <p th:utext="#{label.client.hintlist.nomorehints}">Žádné další nápovědy nejsou k dispozici.</p>
                </th:block>

                <div th:each="hint : ${hintsNotTaken}">
                    <a onclick="return confirm(#{label.client.hintlist.takehintconfirmation})">
                        <form th:action="@{'/cypher/takeHint/' + ${hint.hintId}}" th:object="${takeHintDTO}" method="post">
                            <input type="hidden"  th:field="*{cypherId}" />

                            <th:block th:if="${hint.value == 1}">
                                <button type="submit" class="btn btn-primary"
                                        th:text="#{label.client.hintlist.takehint} + ' (-' + ${hint.value} + ' ' + #{label.client.hintlist.point} + ')'"></button>
                            </th:block>
                            <th:block th:if="${hint.value le 4 and hint.value gt 1}">
                                <button type="submit" class="btn btn-primary"
                                        th:text="#{label.client.hintlist.takehint} + ' (-' + ${hint.value} + ' ' +  #{label.client.hintlist.pointsmid} + ')'"></button>
                            </th:block>
                            <th:block th:if="${hint.value gt 4}">
                                <button type="submit" class="btn btn-primary"
                                        th:text="#{label.client.hintlist.takehint} + ' (-' + ${hint.value} + ' ' +  #{label.client.hintlist.pointshigh} + ')'"></button>
                            </th:block>
                        </form>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="fragments/externalScripts :: externalScripts"></div>
</body>
</html>
