<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(#{admin.organizers.page-title})">
</head>
<body>
<div th:insert="fragments/header :: header(organizermanagement)"></div>
<div class="container">
    <h2 th:utext="#{admin.organizers.list.header}">Organizátoři</h2>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col" th:utext="#{label.id}">Id</th>
                <th scope="col" th:utext="#{admin.organizers.common.name}">Jméno</th>
                <th scope="col" th:utext="#{admin.organizers.common.assigned-cyphers}">Přiřazené šifry</th>
                <th scope="col" th:utext="#{label.actions}">Akce</th>
            </tr>
            <tr th:if="${organizers.empty}">
                <td colspan="9"><p th:utext="#{admin.organizers.list.msg-empty}">V systému nejsou organizátoři</p></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="organizerFormDto : ${organizers}">
                <td th:text="${organizerFormDto.userId}">organizerId</td>
                <td th:text="${organizerFormDto.username}">Jméno</td>
                <td>
                    <th:block th:unless="${organizerFormDto.cyphers == null}"
                              th:each="c, iterStat : ${organizerFormDto.cyphers}"
                              th:text="!${iterStat.last} ? ${c.name} + ', ' : ${c.name}">Šifry
                    </th:block>
                </td>
                <td>
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        <span th:utext="#{label.actions}">Akce</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" th:href="@{/admin/organizermanagement/update/{userId}(userId=${organizerFormDto.userId})}" class="btn" th:utext="#{label.edit}">Upravit</a></li>
                        <li><a href="#" th:href="@{/admin/organizermanagement/delete/{userId}(userId=${organizerFormDto.userId})}" class="btn" th:utext="#{label.delete}">Smazat</a></li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td colspan="9">
                    <a href="#" class="btn btn-primary" th:href="@{/admin/organizermanagement/add}" th:utext="#{label.new}">Přidat</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:insert="fragments/externalScripts :: externalScripts"></div>
</body>
</html>