<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Detail nápovědy')">
</head>
<body>
<div th:insert="fragments/header :: header(cypher)"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2><span th:text="${heading}">Nadpis</span></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <form action="#" th:object="${hint}" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label for="cypherId">Cypher ID</label>
                    <input id="cypherId" type="number" class="form-control" th:field="*{cypher.cypherId}" readonly/>
                </div>
                <div class="form-group">
                    <label for="text" class="input-value-required">Text</label>
                    <textarea id="text" class="form-control" th:field="*{text}" required/>
                    <p class="error" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Text error.</p>
                </div>
                <div class="form-group">
                    <p class="input-value-required">Vyber zdroj obrázku</p>
                    <input type="radio" id="local" th:field="*{imageSource}" value="LOCAL">File
                    <input type="radio" id="remote" th:field="*{imageSource}" value="REMOTE">Web
                    <input type="radio" id="none" th:field="*{imageSource}" value="NONE">Bez obrázku<br>
                    <p class="error" th:if="${#fields.hasErrors('imageSource')}" th:errors="*{imageSource}">Image source error.</p>
                </div>

                <div class="form-group">
                    <label for="imageUrl">URL obrázku</label>
                    <input id="imageUrl" class="form-control" th:field="*{imageUrl}"/>
                    <p class="error" th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}">Image URL error.</p>
                </div>
                <div class="form-group">
                    <div>Soubor s obrázkem</div>
                    <input id="filename" class="form-control" th:field="${hint.filename}" readonly>
                </div>
                <div class="form-group">
                    <input id="imageFile" class="btn btn-primary" type="file" th:field="*{imageFile}" accept="image/*"/>
                    <p class="error" th:if="${#fields.hasErrors('imageFile')}" th:errors="*{imageFile}">Image error.</p>
                </div>
                <div class="form-group">
                    <label for="value" class="input-value-required">Hodnota</label>
                    <input id="value" class="form-control" type="number" th:field="*{value}" required/>
                    <p class="error" th:if="${#fields.hasErrors('value')}" th:errors="*{value}">Value error.</p>
                </div>
                <button type="submit" class="btn btn-primary">Uložit</button>
            </form>
        </div>
        <div class="col-sm-6">
            <img th:if="${!#strings.isEmpty(file)}" class="img-fluid" alt="Obrázek nápovědy" src="" th:src="${file}" />
        </div>
    </div>
</div>

<div th:insert="fragments/externalScripts :: externalScripts"></div>

<script>
    $("#remote").click(function() {
        $("#imageFile").prop("required", false);
        $("#imageUrl").prop("required", true);
        $("#imageUrl").focus();
    });
    $("#local").click(function() {
        $("#imageUrl").prop("required", false);
        var input = document.getElementById("filename").value;
        if (input.trim() == '') {
            $("#imageFile").prop("required", true);
            $("#imageFile").focus();
        }
    });
    $("#none").click(function() {
        $("#imageFile").prop("required", false);
        $("#imageUrl").prop("required", false);
    });
</script>

</body>
</html>
