<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Detail nápovědy')">
</head>
<body>
<div th:insert="fragments/header :: header(cypher)"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2><span th:text="${heading}">Nadpis</span></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <form action="#" th:action="@{/admin/hint/save}" th:object="${hint}" method="post">
                <div class="form-group">
                    <label for="cypherId">Cypher ID</label>
                    <input id="cypherId" type="number" class="form-control" th:field="*{cypher.cypherId}" readonly/>
                </div>
                <div class="form-group">
                    <label for="hintId">Hint ID</label>
                    <input id="hintId" type="number" class="form-control" th:field="*{hintId}" readonly/>
                </div>
                <div class="form-group">
                    <label for="text">Text</label>
                    <textarea id="text" class="form-control" th:field="*{text}"/>
                    <p class="error" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Text error.</p>
                </div>
                <div class="form-group">
                    <label for="imageUrl">URL obrázku</label>
                    <input id="imageUrl" class="form-control" th:field="*{imageUrl}"/>
                    <p class="error" th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}">Image URL error.</p>
                </div>
                <div class="form-group">
                    <label for="value">Hodnota</label>
                    <input id="value" class="form-control" type="number" th:field="*{value}"/>
                    <p class="error" th:if="${#fields.hasErrors('value')}" th:errors="*{value}">Value error.</p>
                </div>
                <button type="submit" class="btn btn-primary">Uložit</button>
            </form>
        </div>
        <div class="col-sm-6">
            <img th:if="${hint.imageUrl}" class="img-fluid" alt="Obrázek nápovědy" src="" th:src="@{${hint.imageUrl}}" />
        </div>
    </div>
</div>

<div th:insert="fragments/externalScripts :: externalScripts"></div>
</body>
</html>

