<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Nápověda</title>
</head>
<body>
<div th:insert="fragments/header :: header(cypher)"></div>
<div class="container">
    <h2>Šifra <span th:text="${cypher.name}">cypherName</span></h2>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Jméno</th>
                <th scope="col">Pořadí</th>
                <th scope="col">Souřadnice</th>
                <th scope="col">Popis místa</th>
                <th scope="col">Odpověď</th>
                <th scope="col">Falešná odpověď</th>
                <th scope="col">Bonus</th>
            </tr>
            </thead>
            <tbody>
            <tr th:object="${cypher}">
            <tr>
                <td th:text="${cypher.cypherId}" align="center">cypherId</td>
                <td th:text="${cypher.name}">Jmeno</td>
                <td th:text="${cypher.stage}" align="center">Cislo</td>
                <td th:text="${cypher.location}">X, Y</td>
                <td th:text="${cypher.placeDescription}">Popis mista</td>
                <td th:text="${cypher.codeword}">codove slovo</td>
                <td th:text="${cypher.trapCodeword}">Past</td>
                <td th:text="${cypher.bonusContent}">Bonus</td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <div class="container">
    <h2>.. a její hinty</h2>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Text</th>
                <th scope="col">Hodnota</th>
                <th align="center">Akce</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="hint : ${cypher.hints}">
                <td th:text="${hint.hintId}" align="center">hintId</td>
                <td th:text="${hint.text}">text</td>
                <td th:text="${hint.value}">value</td>
                <td align="center">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Akce
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" th:href="@{/admin/hint/update/{hintId}(hintId=${hint.hintId})}" class="btn">Upravit</a></li>
                        <li><a href="#" th:href="@{/admin/hint/delete/{hintId}(hintId=${hint.hintId})}" class="btn">Smazat</a></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="4" align="center">
                    <a href="#" th:href="@{/admin/hint/add(cypherId=${cypher.cypherId})}" class="btn btn-primary">Přidat</a>
                </td>
            </tr>
        </table>
    </div>
    </div>
    <br>
    <a align="center" href="#" th:href="@{../admin/cypher}"><b>Zpět na seznam šifer</b></a>
</div>
</body>
</html>

