<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="header(activeTab)">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Luštěniny | Organizátor</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="dark-blue-text">
                <i class="fa fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item" th:classappend="${activeTab == 'progress'}? 'active' : null">
                        <a class="nav-link" href="/game/progress">Přehled šifer<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" th:class="${activeTab == 'teamView'}? 'active' : null">
                        <a class="nav-link" href="/game/progress/teamsList">Přehled týmů</a>
                    </li>
                    <li class="nav-item" th:class="${activeTab == 'score'}? 'active' : null">
                        <a class="nav-link" href="/game/score">Skóre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" th:onclick="return confirm('Opravdu se chcete odhlásit?')">Odhlásit se</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>