a {
    color: white;
}

a:hover {
    color:rgb(225,225,225);
    text-decoration: none;
}

.stageCol{
    width: 10px;
}

.navbarRed{
    background-color: rgb(237, 24, 72);
    color: white;
    padding: 0;
}

.navbar-nav .nav-link{
    padding-left: 10px;
    color: black;
}

.nav-link:hover{
    background-color: #e9ecef;
    color: black;
}

.collapsedActive{
    background-color: #e9ecef;
    color:white;
}

.collapsedActive .a{
    padding-left: 10px;
    color: white;
}
.collapsedNotActive{
    background-color:white;
    color: black;
}

.dropdown-divider-cst{
    height: 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}
.navbarContentCentered{
    height: 24px;
    line-height: 24px;
    text-align: center;
    padding-left: 10px;
}

.floatLeft{
    float: left;
    margin-left:10px;
}

    .bodyContent{
        padding: 10px;
        margin: 10px;
        color:grey;
    }

    .bodyContent h1{
        color: rgb(237, 24, 72)
    }

    .bodyContent h2{
        color: rgb(237, 24, 72)
    }

    .bodyContent h3{
        color: rgb(237, 24, 72)
    }

    .bodyContent h4{
        color: rgb(237, 24, 72)
    }

    .bodyContent h5{
        color: rgb(237, 24, 72)
    }

.btn{
    background-color: rgb(237, 24, 72);
    color: white;
    padding: 7px 12px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
    margin-top: 1rem;
    transition: all 0.3s ease 0s;
}

.btn:hover{
    background-color: white;
    color: rgb(237, 24, 72);
    border-color: white;
}

.btn:focus{
    box-shadow:none;
}

.btn-white {
    background-color: white;
    color: rgb(237, 24, 72);
    width: 100%;
    border-radius: 5px;
    height: 45px;
    margin-bottom: 15px;
}

.btn-white:hover {
    -webkit-box-shadow: 0px 3px 16px 2px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 0px 3px 16px 2px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 3px 16px 2px rgba(0, 0, 0, 0.42);
}

.btn-red {
    background-color: rgb(237, 24, 72);
    color: white;
    width: 100%;
    border-radius: 5px;
    height: 45px;
    margin-bottom: 15px;
}

.btn-red:hover {
    -webkit-box-shadow: 0px 3px 16px 2px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 0px 3px 16px 2px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 3px 16px 2px rgba(0, 0, 0, 0.42);
}

.bold{
    font-weight: bold;
}

.botMargin10{
    margin-bottom: 10px;
}

.hintColumn{
    text-align: right;
}

.statusColumn{
    text-align: right;
}

.fa-check-circle{
    color: lawngreen;
}

.fa-times-circle{
    color: red;
}

.fa-spinner{
    color:deepskyblue;
}

.solutionInput{
    width: 100%;
    border-radius: 5px;
    height: 45px;
    margin-bottom: 15px;
}

#correctAnswer{
    background-color: lightgreen;
    color: green;
    text-align: center;
}

.correctButton{
    color:white;
    background-color: limegreen;
    width: 100%;
    border-radius: 5px;
    height: 45px;
    margin-bottom: 15px;
}

#bonusInfo{
    visibility: hidden;
}

#bonusButton{

}

#hintButton{

}

#hintContent{
    visibility: hidden;
}