body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 2rem;
    margin-top: 1.25rem;
}

h2{
    font-size: 1.25rem;
    font-weight: 600;
    color: #757575;
    margin-top: 1.25rem;
}

p{
    text-align: justify;
    color: #555;
}

a {
    color: white;
}

a:hover {
    color:rgb(225,225,225);
    text-decoration: none;
}

p.error{
    color: rgb(237, 24, 72);
    font-weight: 600;
    font-size: 0.75 rem;
}

/*.stageCol{*/
    /*width: 10px;*/
/*}*/

.navbar-red{
    background-color: rgb(237, 24, 72);
    color: white;
}

.navbar p {
    margin-top: 0;
    margin-bottom: 0;
}


/*.navbar-nav .nav-link{*/
    /*padding-left: 10px;*/
    /*color: black;*/
/*}*/

/*.nav-link:hover{*/
    /*background-color: #e9ecef;*/
    /*color: black;*/
/*}*/

/*.dropdown-divider-cst{*/

/*height: 0;*/
/*overflow: hidden;*/
/*border-top: 1px solid #e9ecef;*/
/*}*/
.navbar-content, .navbar-nav{
    padding: 0.25rem;
}

.navbar-content p{
    color: #fff;
}

.navbar .fa{
    color: #fff;
}

.navbar a{
    color: #ccc;
}

.navbar .team-name {
    font-weight: 600;
}

.navbar-nav{
    border-top: 1px solid #fff;
}

.navbar .active a {
    color: white;
    font-weight: 600;
}

/*.floatLeft{*/
/*float: left;*/
/*margin-left:10px;*/
/*}*/

/*.container{*/
    /*padding: 20px;*/
/*}*/

/*.container h1{*/
    /*color: rgb(237, 24, 72)*/
/*}*/

/*.container h2{*/
    /*color: rgb(237, 24, 72)*/
/*}*/

/*.container h3{*/
    /*color: rgb(237, 24, 72)*/
/*}*/

/*.container h4{*/
    /*color: rgb(237, 24, 72)*/
/*}*/

/*.container h5{*/
    /*color: rgb(237, 24, 72)*/
/*}*/


/*.skippedGoNextButton:hover{*/
    /*-webkit-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.42);*/
    /*-moz-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.42);*/
    /*box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.42);*/
/*}*/

/*#skippedAnswer{*/
    /*color: rgb(237, 24, 72);*/
    /*text-align: center;*/
    /*font-weight: bold;*/
/*}*/

/*#errorMessage{*/
    /*color: rgb(237, 24, 72);*/
    /*text-align: center;*/
    /*font-weight: bold;*/
/*}*/

/*.bold{*/
    /*font-weight: bold;*/
/*}*/

/*.botMargin10{*/
    /*margin-bottom: 10px;*/
/*}*/

.cypher .row {
    height: 4rem;
    border-bottom: solid 1px #E5E5E5;
}

.cypher .row:hover {
    background-color: #EEE;
}

.col.hints {
    -ms-flex: 0 0 4rem;
    flex: 0 0 4rem;
}

.col.hints p{
    margin: 0;
}

.col.status {
    -ms-flex: 0 0 2rem;
    flex: 0 0 2rem;
}

.cypher .row i{
    font-size: 1.2rem;
}

.fa-check-circle{
    color: lawngreen;
}

.fa-times-circle{
    color: red;
}

.fa-spinner {
    color:deepskyblue;
}

/*.solutionInput{*/
    /*width: 100%;*/
    /*border-radius: 5px;*/
    /*height: 45px;*/
    /*margin-bottom: 15px;*/
/*}*/

#bonus-info {
    display: none;
}

#bonus-info p{
    font-style: italic;
    font-size: 0.9rem;
}

#hintContent {
    visibility: hidden;
    text-align: center;
}

a{
    color: black;
}

a:hover{
    color: black;
    text-decoration: none;
}

.hoverColor:hover{
    background-color: #e9ecef;
    color: black;
    text-decoration: none;
}

.paddingRow{
    padding-bottom: 10px;
    padding-top: 10px;
}

#map {
    margin-bottom: 10px;
}


.container .btn {
    width: 100%;
    transition: all 0.3s ease 0s;
    font-weight: 600;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.container .btn-red {
    color: #FFF;
    background-color: rgb(237, 24, 72);
}

.container .btn-white {
    color: rgb(237, 24, 72);
    background-color: white;
}

.container .btn-white:hover {
    -webkit-box-shadow: 0px 3px 16px 2px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 0px 3px 16px 2px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 3px 16px 2px rgba(0, 0, 0, 0.42);
}

.container .btn-red:hover {
    -webkit-box-shadow: 0px 3px 16px 2px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 0px 3px 16px 2px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 3px 16px 2px rgba(0, 0, 0, 0.42);
}

.last {
    margin-bottom: 1rem;
}

.alert-light {
    background-color: #f3f3f3;
}
