<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Detail šifry</title>

</head>

<body>
    <nav class="navbar navbar-default navbar-red" >
        <div class="navbar-content">
            <p class="team-name" th:text="${team.name}"></p>
            <p>Body:xx b</p>
        </div>

        <button id="navbarButton" class="btn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
                aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text">
                <i class="fa fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse collapsedNavbar" id="navbarSupportedContent1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item collapsedNotActive">
                    <a class=" nav-link" href="#">Šifry </a>
                </li>
                <li class="nav-item collapsedNotActive">
                    <a class=" nav-link" href="#">Kartička</a>
                </li>
                <li class="nav-item collapsedNotActive">
                    <a class=" nav-link" href="#">Kontakty</a>
                </li>
                <li class="nav-item collapsedNotActive">
                    <a class=" nav-link" href="#">Odhlásit se</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 th:text="|${cypher.stage}. ${cypher.name}|">šifra</h1>

                <th:block th:switch="${status}">

                    <th:block th:case="'PENDING'">
                        <h2>Řešení</h2>
                        <form th:action="|/cypher/verify/${cypher.cypherId}|" th:object="${codeword}" method="post">
                            <div class="form-group">
                                <!--<label for="guess">Řešení</label>-->
                                <input id="guess" type="text" th:field="*{guess}" class="form-control" >
                                <p th:if="${#fields.hasErrors('guess')}" th:class="'error'" th:errors="*{guess}" id="errorMessage"></p>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-white" type="submit">Ověřit</button>
                            </div>
                        </form>
                    </th:block>

                    <th:block th:case="'SKIPPED'">
                        <div class="alert alert-danger" role="alert">
                            Tuto šifru jste přeskočili
                        </div>

                        <!--TODO co kdyz neni dalsi sifra? -> nezobrazovat, ale mohlo by se zobrazit final place-->
                        <div th:if="${nextCypher}">
                            <h2>Kam dál?</h2>
                            <a class="btn btn-white" th:href="@{'/cypher/' + ${nextCypher.cypherId}}"
                               role="button">Zobrazit další šifru </button></a>
                        </div>
                    </th:block>

                    <th:block th:case="${'SOLVED'}">
                        <div class="alert alert-success" role="alert">
                            Zadali jste správné heslo. Šifra byla vyluštěna!
                        </div>

                        <!--TODO co kdyz neni dalsi sifra? -> nezobrazovat, ale mohlo by se zobrazit final place-->
                        <div th:if="${nextCypher}">
                            <h2>Kam dál?</h2>
                            <a class="btn btn-white" th:href="@{'/cypher/' + ${nextCypher.cypherId}}"
                               role="button">Zobrazit další šifru </a>
                        </div>

                        <button id="bonus-button" th:if="${cypher.bonusContent}" class="btn btn-white" onclick="showBonus()">Zobrazit bonusové informace</button>
                        <div id="bonus-info">
                            <h2>Bonusové informace</h2>
                            <p th:text="${cypher.bonusContent}" class="alert alert-light" role="alert"></p>
                        </div>
                    </th:block>
                </th:block>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h2>Adresa</h2>
                <p th:text="${'GPS: ' + cypher.location.y + ' ' + cypher.location.x}"></p>
                <p th:text="${cypher.placeDescription}"></p>
                <div id="map" style='width: 100%; height: 150px;'></div>
                <a th:href="@{https://www.google.com/maps/search/?api=1&query={lat},{lng}(lat=${cypher.location.y}, lng=${cypher.location.x})}"
                        class="btn btn-white" role="button">Zobrazit na mapě</a>
            </div>
        </div>

        <th:block th:if="${status == 'PENDING'}">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Nápověda</h2>
                    <th:block th:if="${not #lists.isEmpty(hintsTaken)}">
                        <div th:each="hintTaken : ${hintsTaken}">
                            <p th:text="|Nápověda (-${hintTaken.hint.value}b.): ${hintTaken.hint.text}|"></p>
                        </div>
                    </th:block>
                    <a href="#" th:href="|/cypher/${cypher.cypherId}/hint|">
                        <button class="btn btn-white">Vybrat nápovědu</button>
                    </a>
                    <br/>
                </div>
            </div>
        </th:block>

        <th:block th:if="${status == 'PENDING'}">
            <div class="row last">
                <div class="col-sm-12">
                    <form onsubmit="return confirm('Opravdu to chcete vzdát?')" action="/cypher/giveUp" th:object="${cypher}" method="post">
                        <input type="hidden"  th:field="*{cypherId}" >
                        <button class="btn btn-red" type="submit" onclick="">Vzdát šifru</button>
                    </form>
                </div>
            </div>
        </th:block>

        <script>
            function showBonus() {
                var bonusInfo = document.getElementById("bonus-info");
                bonusInfo.style.display = "block";
                var bonusButton = document.getElementById("bonus-button");
                bonusButton.style.display = "none";
            }
        </script>
        <script>
            var map,
                activeMarker;

            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 14,
                    center: getCypherLocation(),
                    disableDefaultUI: true,
                    gestureHandling: 'none',
                    zoomControl: false,
                    draggable: false
                });
                addMarkerFromForm();
            }

            function addMarker(location) {
                activeMarker = new google.maps.Marker({
                    position: location,
                    map: map
                });
            }

            function addMarkerFromForm() {
                addMarker(getCypherLocation());
            }

            function getCypherLocation() {
                var lat = [[${cypher.location.getY()}]];
                var lng = [[${cypher.location.getX()}]];
                var locationOfCypher = {lat: lat, lng: lng};
                return locationOfCypher;
            }

        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDseyIGXP_QJWmaCbjVJxxVUQ5vxX44Anw&callback=initMap">
        </script>
    </div>
</body>
</html>