<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head('Detail šifry')">
</head>

<body>
    <div th:insert="client/fragments/header :: header(cypher, '/cypher')"></div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 th:text="|${cypher.stage}. ${cypher.name}|">šifra</h1>

                <span class="text-danger" th:if="${#request.getParameter('gameEnded') == 'true'}">
                    Hra již byla ukončena.
                </span>

                <th:block th:switch="${status}">

                    <th:block th:case="'PENDING'">
                        <h2>Řešení</h2>
                        <form th:action="|/cypher/verify/${cypher.cypherId}|" th:object="${codeword}" method="post">
                            <div class="form-group">
                                <!--<label for="guess">Řešení</label>-->
                                <input id="guess" type="text" th:field="*{guess}" class="form-control" />
                                <p th:if="${#fields.hasErrors('guess')}" th:class="'error'" th:errors="*{guess}" id="errorMessage"></p>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Ověřit</button>
                            </div>
                        </form>
                        <div th:if="${finalViewAllowed}">
                            <a class="btn btn-primary" th:href="@{/finalplace}"
                               role="button">Detail vyhlášení výsledků</button></a>
                        </div>
                    </th:block>

                    <th:block th:case="'SKIPPED'">
                        <div class="alert alert-danger" role="alert">
                            Tuto šifru jste přeskočili
                        </div>

                        <div th:if="${nextCypher}">
                            <h2>Kam dál?</h2>
                            <a class="btn btn-primary" th:href="@{'/cypher/' + ${nextCypher.cypherId}}"
                               role="button">Zobrazit další šifru</button></a>
                        </div>

                        <div th:if="${finalViewAllowed}">
                            <a class="btn btn-primary" th:href="@{/finalplace}"
                               role="button">Detail vyhlášení výsledků</button></a>
                        </div>
                    </th:block>

                    <th:block th:case="${'SOLVED'}">
                        <div class="alert alert-success" role="alert">
                            Zadali jste správné heslo. Šifra byla vyluštěna!
                        </div>

                        <div th:if="${nextCypher}">
                            <h2>Kam dál?</h2>
                            <a class="btn btn-primary" th:href="@{'/cypher/' + ${nextCypher.cypherId}}"
                               role="button">Zobrazit další šifru</a>
                        </div>
                        <div th:if="${finalViewAllowed}">
                            <a class="btn btn-primary" th:href="@{/finalplace}"
                               role="button">Detail vyhlášení výsledků</button></a>
                        </div>

                        <div th:if="${cypher.bonusContent != null and cypher.bonusContent != ''}" id="bonus-info">
                            <h2>Bonusové informace</h2>
                            <p th:text="${cypher.bonusContent}" class="alert alert-light" role="alert"></p>
                        </div>
                    </th:block>
                </th:block>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h2>Adresa</h2>
                <p th:text="${'GPS: ' + cypher.location.y + ' ' + cypher.location.x}"></p>
                <p th:text="${cypher.placeDescription}"></p>
                <div id="map" style='width: 100%; height: 150px;'></div>
                <a th:href="@{${cypher.mapAddress}}"
                        target="_blank" class="btn btn-secondary" role="button">Zobrazit na mapě</a>
            </div>
        </div>

        <th:block th:if="${status == 'PENDING'}">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Nápověda</h2>
                    <th:block th:if="${not #lists.isEmpty(hintsTaken)}">
                        <div th:each="hintTaken : ${hintsTaken}">
                            <p class="hint-text" >
                                <span th:text="|Nápověda (-${hintTaken.hint.value}b.):|"></span>
                                <span th:text="${hintTaken.hint.text}"></span>
                            </p>
                            <p th:if="${!#strings.isEmpty(hintTaken.hint.imageUrl)}">
                                <img class="hint-image img-fluid" alt="Obrázek nápovědy" src="" th:src="@{${hintTaken.hint.imageUrl}}" />
                            </p>
                        </div>
                    </th:block>
                    <a href="#" th:href="|/cypher/${cypher.cypherId}/hint|"
                       class="btn btn-secondary" role="button">Vybrat nápovědu</a>
                </div>
            </div>
        </th:block>

        <th:block th:if="${status == 'PENDING'}">
            <div class="row last">
                <div class="col-sm-12">
                    <form onsubmit="return confirm('Opravdu to chcete vzdát?')" action="/cypher/giveUp" th:object="${cypher}" method="post">
                        <input type="hidden"  th:field="*{cypherId}" />
                        <input type="hidden"  th:field="*{stage}" />
                        <button class="btn btn-secondary btn-skip" type="submit" onclick="">Vzdát šifru</button>
                    </form>
                </div>
            </div>
        </th:block>

        <script>
            var map,
                activeMarker;

            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 14,
                    center: getCypherLocation(),
                    disableDefaultUI: true,
                    gestureHandling: 'none',
                    zoomControl: false,
                    draggable: false
                });
                addMarkerFromForm();
            }

            function addMarker(location) {
                activeMarker = new google.maps.Marker({
                    position: location,
                    map: map
                });
            }

            function addMarkerFromForm() {
                addMarker(getCypherLocation());
            }

            function getCypherLocation() {
                var lat = [[${cypher.location.getY()}]];
                var lng = [[${cypher.location.getX()}]];
                var locationOfCypher = {lat: lat, lng: lng};
                return locationOfCypher;
            }

        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDseyIGXP_QJWmaCbjVJxxVUQ5vxX44Anw&callback=initMap">
        </script>
    </div>
    <div th:insert="fragments/externalScripts :: externalScripts"></div>
</body>
</html>