<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Šifry</title>
</head>
<body>
    <div th:insert="client/fragments/header :: header(cypher, '')"></div>

    <div class="container">

        <div class="row">
            <div class="col-sm-12" th:if="${gameStarted}">
                <h1>Šifry</h1>
                <div th:each="cypherGameInfo : ${cypherGameInfos}" class="cypher">
                    <a th:href="@{/cypher/{cypherId}(cypherId=${cypherGameInfo.cypherId})}">
                        <div class="row align-items-center" th:classappend="${cypherGameInfo.getStatus() == 2} ? 'pending' : null">
                            <div th:text="|${cypherGameInfo.getStage()}. ${cypherGameInfo.getName()}|" class="col"></div>
                            <div th:unless="${cypherGameInfo.getCount() == 0}" class="col hints">
                                <p class="count" th:text="${cypherGameInfo.getCount()} + ' ×'"></p>
                                <i class="far fa-lightbulb"></i>
                            </div>
                            <th:block th:switch="${cypherGameInfo.getStatus().ordinal()}">
                                <div th:case="0" class="col status">
                                    <i class="far fa-check-circle float-right"></i>
                                </div>
                                <div th:case="1" class="col status">
                                    <i class="far fa-times-circle float-right"></i>
                                </div>
                                <div th:case="2" class="col status">
                                    <i class="fas fa-spinner float-right"></i>
                                </div>
                            </th:block>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12" th:unless="${gameStarted}">
                <a href="#" class="btn btn-primary" th:href="@{/cypher/startGame}">
                    Zahájit hru!
                </a>
            </div>
        </div>
    </div>
    <a th:if="${finalViewAllowed}" th:href="@{/finalplace}" id="footer">
        <div id="final-place">
            <div class="container">
                <div class="row align-items-center">
                    <div id="time" class="col">
                        <p th:text="${openingTime}"></p>
                    </div>
                    <div id="content" class="col">
                        Vyhlášení výsledků
                    </div>
                    <div id="button" class="col">
                        Zobrazit
                    </div>
                </div>
            </div>
        </div>
    </a>
</body>
</html>