<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head('Šifry')">
</head>
<body>
    <div th:insert="client/fragments/header :: header(cypher, '')"></div>

    <div class="container">

        <div class="row cypher-list">
            <div class="col-sm-12" th:if="${gameStarted}">
                <h1>Šifry</h1>
                <div th:each="cypherGameInfo : ${cypherGameInfos}" class="cypher">
                    <a th:href="@{/cypher/{cypherId}(cypherId=${cypherGameInfo.cypherId})}">
                        <div class="row align-items-center" th:classappend="${cypherGameInfo.getStatus() == 2} ? 'pending' : null">
                            <div th:text="|${cypherGameInfo.getStage()}. ${cypherGameInfo.getName()}|" class="col"></div>
                            <div th:unless="${cypherGameInfo.getCount() == 0}" class="col hints">
                                <span class="count" th:text="${cypherGameInfo.getCount()} + ' ×'"></span>
                                <i class="far fa-lightbulb"></i>
                            </div>
                            <th:block th:switch="${cypherGameInfo.getStatus().ordinal()}">
                                <div th:case="0" class="col status">
                                    <i class="far fa-check-circle float-right"></i>
                                </div>
                                <div th:case="1" class="col status">
                                    <i class="far fa-times-circle float-right"></i>
                                </div>
                                <div th:case="2" class="col status">
                                    <i class="far fa-clock float-right"></i>
                                </div>
                            </th:block>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12" th:unless="${gameStarted}">
                <a href="#" class="btn btn-primary" th:href="@{/cypher/startGame}">
                    Zahájit hru!
                </a>
            </div>
        </div>
    </div>
    <a th:if="${finalViewAllowed}" th:href="@{/finalplace}" id="footer">
        <div id="final-place">
            <div class="container">
                <div class="row align-items-center">
                    <div id="time" class="col">
                        <p th:text="${resultsTime}"></p>
                    </div>
                    <div id="content" class="col">
                        Vyhlášení výsledků
                    </div>
                    <div id="button" class="col">
                        Zobrazit
                    </div>
                </div>
            </div>
        </div>
    </a>
    <div th:insert="fragments/externalScripts :: externalScripts"></div>
</body>
</html>