<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>Hahaha</title>
</head>

<body>
    <div th:insert="client/fragments/header :: header(cypher, '/cypher/' + ${cypher.cypherId})"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-centered">
                <p class="trapText">Tak tohle není správná odpověď 3:]</p>
                <img src="/img/billy.jpg" alt="Billy Saw" class="img-billy"/>
                <a class="btn btn-under-image" th:href="'/cypher/' + ${cypher.cypherId}" role="button">
                    Zkusit znovu
                </a>
            </div>
        </div>
    </div>
</body>
</html>