<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Hahaha')">
</head>

<body>
    <div th:insert="client/fragments/header :: header(cypher, '/cypher/' + ${cypher.cypherId})"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-centered">
                <p class="trapText">Tak tohle není správná odpověď 3:]</p>
                <img src="/img/billy.jpg" alt="Billy Saw" class="img-billy"/>
                <a class="btn btn-under-image" th:href="'/cypher/' + ${cypher.cypherId}" role="button">
                    Zkusit znovu
                </a>
            </div>
        </div>
    </div>
    <div th:insert="fragments/externalScripts :: externalScripts"></div>
</body>
</html>