<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Luštěniny - přihlášení</title>
</head>
<body>
<div class="log-form">
    <h2>Luštěniny - přihlášení</h2>
    <form action="" method="post">
        <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
        <input type="text" id="username" name="username" placeholder="jméno" />
        <input type="password" id="password" name="password" placeholder="heslo" />
        <button type="submit" class="btn">Přihlásit</button>
        <div th:if="${param.error != null}"> Přihlášení se nezdařilo.</div>
    </form>
</div>
</body>
</html>