<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Týmy')">
</head>
<body>
<div th:insert="fragments/header :: header(team)"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Tým</h2>
            <form action="#" th:action="${action}" th:object="${teamFormDto}" method="post">
                <div class="form-group">
                    <label for="name" class="input-value-required">Jméno</label>
                    <input id="name" class="form-control" type="text" th:field="*{name}" required/>
                    <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Chyba - Jméno
                    </p>
                </div>
                <div class="form-group">
                    <label for="numberOfMembers" class="input-value-required">Počet členů</label>
                    <input id="numberOfMembers" class="form-control" type="number" th:field="*{numOfMembers}" required/>
                    <p class="error" th:if="${#fields.hasErrors('numOfMembers')}" th:errors="*{numOfMembers}">Chyba - Počet členů
                    </p>
                </div>
                <input type="submit" class="btn btn-primary" th:value="${action == 'admin/team/add' ? 'Nový' : 'Uložit'}"/>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="col-sm-12">
            <h2>Týmy</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Jméno týmu</th>
                            <th scope="col">Uživatelské jméno</th>
                            <th scope="col">Počet členů</th>
                            <th scope="col">PIN</th>
                            <th scope="col">Akce</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${teams.empty}">
                            <td colspan="5"><p> V systému nejsou týmy</p></td>
                        </tr>
                        <th:block th:each="team : ${teams}">
                            <tr>
                                <td th:text="${team.teamId}">8888</td>
                                <td th:text="${team.name}">Bamboo</td>
                                <td th:text="${team?.user?.username}"></td>
                                <td th:text="${team.numOfMembers}">8</td>
                                <td th:text="${team.pin}">9876</td>
                                <td>
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Akce
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" th:href="@{/admin/team/update/{teamId}(teamId=${team.teamId})}" class="btn">Upravit</a></li>
                                        <li><a href="#" th:href="@{/admin/team/delete/{teamId}(teamId=${team.teamId})}" class="btn">Smazat</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/externalScripts :: externalScripts"></div>
</body>
</html>
