<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Kontakt')">
</head>
<body>
<div th:insert="fragments/header :: header(contact)"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Kontakt</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form action="#" th:action="@{/admin/contact/update}" th:object="${contact}" method="post">
                <div class="form-group">
                    <label for="title" class="input-value-required">Jméno</label>
                    <input id="title" class="form-control" th:field="*{name}" required/>
                    <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error.</p>
                </div>
                <div class="form-group">
                    <label for="phoneNumber" class="input-value-required">Telefonní číslo</label>
                    <input id="phoneNumber" class="form-control" th:field="*{phoneNumber}" required/>
                    <p class="error" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">PhoneNumber error.</p>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input id="email" class="form-control" th:field="*{email}"/>
                    <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error.</p>
                </div>

                <h5>Odkazy</h5>
                <hr />
                <div id="links-list-wrapper">
                    <div th:each="link, iterStat : *{links}" th:id="|link-wrapper-${iterStat.index}|">
                        <input type="hidden" th:id="|link-id-${iterStat.index}|" th:field="*{links[__${iterStat.index}__].id}" />
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label th:for="|link-title-${iterStat.index}|">Titulek</label>
                            </div>
                            <div class="form-group col-md-8">
                                <label th:for="|link-url-${iterStat.index}|">URL</label>
                            </div>
                            <div class="form-group col-md-1"></div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control" th:id="|link-title-${iterStat.index}|" placeholder="" th:field="*{links[__${iterStat.index}__].title}">
                            </div>
                            <div class="form-group col-md-8">
                                <input th:id="|link-url-${iterStat.index}|" class="form-control" th:field="*{links[__${iterStat.index}__].url}"/>
                            </div>
                            <div class="form-group col-md-1">
                                <button type="button" class="form-control btn btn-danger" th:onclick="|removeLink(${iterStat.index});|"><i class="fas fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-1">
                        <button type="button" class="btn btn-success" onclick="addLink();"><i class="fas fa-plus"></i></button>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Uložit</button>
            </form>
        </div>
    </div>
</div>
<div th:insert="fragments/externalScripts :: externalScripts"></div>
<script id="linkRowTemplate" type="text/template">
    <div id="link-wrapper-${index}">
        <input type="hidden" id="link-id-${index}" name="links[${index}].id" value="-1" />
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="link-title-${index}">Titulek</label>
            </div>
            <div class="form-group col-md-8">
                <label for="link-url-${index}">URL</label>
            </div>
            <div class="form-group col-md-1"></div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <input type="text" class="form-control" id="link-title-${index}" placeholder="" name="links[${index}].title" />
            </div>
            <div class="form-group col-md-8">
                <input id="link-url-${index}" class="form-control" name="links[${index}].url" />
            </div>
            <div class="form-group col-md-1">
                <button type="button" class="form-control btn btn-danger" th:onclick="removeLink(${index});"><i class="fas fa-trash"></i></button>
            </div>
        </div>
    </div>
</script>
<script>
    function removeLink(i) {
        $('#link-wrapper-' + i).remove();
    }

    function addLink() {
        var listElement = $('#links-list-wrapper');
        var newIndex = listElement.children().length;
        var template = $('#linkRowTemplate').prop('innerHTML');

        template = template.replace(/\$\{index\}/g, newIndex);

        listElement.append(template);
    }
</script>
</body>
</html>
